---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: AfterHash
UseTab: Never
Standard: Cpp11
ColumnLimit: 100
AlignOperands: true
FixNamespaceComments: true
ExperimentalAutoDetectBinPacking: true
